<h1>Ingrese sus credenciales</h1>
<form [formGroup]="loginForm" (ngSubmit)="funIngresar()">
    <div>
    <label for="">Ingrese su Correo:</label>
    <input type="text" formControlName="email"/>
    <div *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched">
      <small *ngIf="loginForm.controls.email.errors['required']">El correo es obligatorio.</small>
      <small *ngIf="loginForm.controls.email.errors['email']">El correo es incorrecto.</small>
    </div>
    <br/>
  </div>
  <div>
    <label for="">Ingrese su Contraseña:</label>
    <input type="password" formControlName="password" />
    <div *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched">
      <small *ngIf="loginForm.controls.password.errors['required']">La contraseña es obligatoria.</small>
      <small *ngIf="loginForm.controls.password.errors['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
    </div>
    <br/>
  </div>
  <button type="submit" [disabled]="!loginForm.valid" >Iniciar Sesión</button>
</form>

{{ loginForm .value | json }}
{{ loginForm.value.email}}
{{ loginForm.value.password}}
